*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

body {
    background-color: #0F172A;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 100px
   
}
.navigation a {
    text-decoration: none;
    color: #F8FAFC;
    font-size: 24px;
    line-height: 28px;
    }

.navigation{
    display: flex;
    gap: 60px
}



.section-one{
    position: absolute; 
    width: 343px;
    height: 56px;
    left: 144px;
    top: 210px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #F8FAFC;
}
  
.section-two{
    display: flex;
    flex-direction: column;
    gap: 41px;
    border-radius: 20px;
    color: #CBD5E1;
    padding: 350px 145px 1045px 145px;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #1E293B66;
    padding: 34.12px 84px 34.12px 8px;
    
    
}

.text{
font-family: Roboto;
font-size: 20px;
text-align: left;
font-style: normal;
font-weight: 400;
line-height: 23px;

/* Slate/300 */

color: #CBD5E1
}

.info h3 {
margin-bottom: 25px;
}
.info p{
margin-bottom: 14px;
}