*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

body {
    background-color: #0F172A;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px ;
    gap: 644px;
    padding:20px 100px 20px 100px;
}
.navigation a {
    text-decoration: none;
    color: #F8FAFC;
    font-size: 24px;
    line-height: 28px;
}

.navigation{
    display: flex;
    gap: 60px
}

.main{
    display: flex;
    flex-direction: column;
    gap: 83px;
    padding:132.5px 145px 275px 144px;
}

.section-title{
    width: 343px;
    height: 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #F8FAFC;
    font-family: 'Roboto';
    font-style: normal;
}
  
.section-two{
    display: flex;
    flex-direction: column;
    gap: 41px;
    border-radius: 20px;
    color: #CBD5E1;
    width: 1150px;  
    height: 300px;
    left: 144px;
    top: 690px;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #1E293B66;
    padding: 34.12px 84px 34.12px 8px;
    gap: 44px;
    border-radius: 20px;
}

.text{
    font-family: Roboto;
    font-size: 20px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #CBD5E1
}

.info h3 {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #F8FAFC;
}
.info p{
    margin-bottom: 14px;
}

.img{
Width: 250px;
Height: 231.76px;
}

.section-three{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.olderposts{
    width: 369px;
    height: 518px;
    background: #1E293B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
}

.par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    gap: 3.45;
    padding:0px 14.14px 71.23px 13.53px
}

.heading{
    padding: 0px 80.26px 0px 79.64px;
    color:#F8FAFC;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center; 
    
}
.date{
    color: #9CA3AF;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.texts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color:#F8FAFC
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 136px;
    align-items: center;
    border-top: 1px solid #CBD5E1;
}

